.albumHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.albumImg {
    width: 100%
}

.albumHeaderInner {
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.albumHeaderInner h2 {
    font-size: 1rem;
    color: var(--fg-color);
}

.albumDetails {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}