.searchResultDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.searchResultDetails > * {
    margin: 10px 5px 0 0;
}

.searchResult {
    margin: 0 0 30px;
    width: 49%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchResult .albumCover {
    width: 45%;
}

.searchResult .albumDetails {
    padding: 20px;
}