.siteHeader {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.siteHeader ul {
    display: flex;
}

.siteHeader li {
    padding-left: 1.5rem;
}