.albumSearchWrapper {
    display: flex;
    justify-content: space-between;
}

.albumSearchInput {
    flex-grow: 1;
    margin-right: 1%;
    border: 1px var(--fg-color) solid;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 10px;
}

.albumSearchButton {
    border-radius: 3px;
    padding: 0 20px;
}

.resultsWrapper {
    margin: 50px 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
